@model ASPQuiz.Models.QuizIndexViewModel

@if (Model.Quiz != null)
{
    <h2>Jouw toets!</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Vraag</th>
            <th>Antwoord</th>
            <th class="text-right">Uitslag</th>
            <th class="text-right">Goede Antwoord</th>
        </tr>
        </thead> <tbody>
        @foreach (var line in Model.Quiz.Lines)
        {
            <tr>
                <td class="text-left">@line.Question.QuestionText</td>
                <td class="text-left">@line.Answer.AnswerText</td>

                @if (line.isAnswerCorrect())
                {
                    <td class="text-right">Goed</td>
                    <td></td>
                }
                else
                {
                    <td class="text-right">Fout</td>
                    <td class="text-right">@line.Question.CorrectAnswer.AnswerText</td>
                }

            </tr>
        }
        </tbody>
    </table>
    @Html.ActionLink("Start een nieuwe Quiz!", "ToHome", "Quiz", new {area = ""}, new {@class = "btn btn-default"})
}
else
{
    <h1>Wegwezen Gauw!</h1>
}