@{
    ViewBag.Title = "Welkom";
}

<div class="col-sm-12 text-center">
    <h1>Welkom bij het ASP.NET Tentamen van 2017</h1>
    @Html.ActionLink("Start de Quiz", "Index", "Quiz", new {area = ""}, new {@class = "btn btn-default"})
</div>
