@{
    ViewBag.Title = "Welkom";
}

<div class="col-sm-12 text-center">
    <h1>Welkom bij DE hardstyle Quiz van 2017</h1>

    
    <div class="col-sm-12 col-xs-12">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Q3522JNhz4w?autoplay=1" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
        @Html.ActionLink("Start de Quiz", "Index", "Quiz", new {area = ""}, new {@class = "btn btn-default"})
    </div>
</div>
